DATABASE_URL=postgresql://postgres.fmhfvfwqsrlntjsvqypc:[PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://fmhfvfwqsrlntjsvqypc.supabase.co
SUPABASE_KEY=sb_publishable_mpbK_ALD1vBH0PjirwVraQ_160reUqn