
/* Header Component*/
.header{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 32px;
    background: white;
    border-radius: 12px;
    margin: 18px auto 10px;
    max-width: 1400px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.06)
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: auto;
    column-gap: 24px;
    row-gap: 48px;
    padding: 30px 20px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: stretch;
}

/* Footer Component*/
.footer{
    font-family: Arial, sans-serif;
}